<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575629838321-gv1s6dtr2dige16hq2h5jdgfn37qd3ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575629838321-gv1s6dtr2dige16hq2h5jdgfn37qd3ho</string>
	<key>API_KEY</key>
	<string>AIzaSyDKSSljvPLBuS3cRoiXCEXtLIugiGtYAu8</string>
	<key>GCM_SENDER_ID</key>
	<string>575629838321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-7a8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-7a8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575629838321:ios:04fa9163f93c343ce72650</string>
</dict>
</plist>